---

---

<section id="main">
    <form>
        <h2>Lámpara</h2>
        <div>
            <label for="dSup">Diámetro Superior</label>
            <input
                type="number"
                id="dSup"
                name="dSup"
                min="0"
                max="100"
                value="20"
                step="1"
            />
        </div>
        <div>
            <label for="dInf">Diámetro Inferior</label>
            <input
                type="number"
                id="dInf"
                name="dInf"
                min="0"
                max="100"
                value="80"
                step="1"
            />
        </div>
        <div>
            <label for="nLad">Nº de lados</label>
            <p id="nLadVal">4</p>

            <input
                type="range"
                id="nLad"
                name="nLad"
                min="4"
                max="18"
                step="1"
                value="4"
            />
        </div>
        <div>
            <label for="Altura">Altura</label>
            <input
                type="number"
                id="Altura"
                name="Altura"
                min="80"
                max="300"
                value="220"
                step="1"
            />
        </div>
        <div>
            <label for="Redondeo">Redondeo</label>
            <p id="redondeoLampVal">50</p>

            <input
                type="range"
                id="redondeo"
                name="Redondeo"
                min="0"
                max="100"
                step="1"
                value="50"
            />
        </div>
        <h2>Bandeja</h2>
        <div>
            <label for="hBandeja">Altura</label>
            <input
                type="number"
                id="hBandeja"
                name="hBandeja"
                min="80"
                max="300"
                value="220"
                step="1"
            />
        </div>
        <div>
            <label for="rBandeja">Redondeo</label>
            <p id="redondeoBanVal">50</p>
            <input
                type="range"
                id="rBandeja"
                name="rBandeja"
                min="0"
                max="100"
                step="1"
                value="50"
            />
        </div>
        <h2>Avanzado</h2>
        <h3>Agujeros</h3>
        <div>
            <label for="distHole">Distancia entre agujeros</label>
            <input
                type="number"
                id="distHole"
                name="distHole"
                min="1"
                max="100"
                value="25"
                step="1"
            />
        </div>
        <div>
            <label for="diamHole">Diámetro de agujeros</label>
            <input
                type="number"
                id="diamHole"
                name="diamHole"
                min="1"
                max="100"
                value="3"
                step="1"
            />
        </div>
        <h3>Soportes</h3>

        <div>
            <label for="distCel">Distancia entre Celdas</label>
            <p id="distCelValue">40</p>
            <input
                type="range"
                id="distCel"
                name="distCel"
                min="10"
                max="100"
                value="40"
                step="5"
            />
        </div>
        <div>
            <label for="grSop">Grosor del soporte</label>
            <p id="grSopValue">2</p>
            <input
                type="range"
                id="grSop"
                name="grSop"
                min="1"
                max="10"
                value="3"
                step="1"
            />
        </div>
        <h2>Visualización</h2>
        <div>
            <input type="radio" id="todo" name="visual" checked />
            <label for="todo">Todo</label>
            <input type="radio" id="conmollamp" name="visual" />
            <label for="conmollamp">Contramolde Lámpara</label>
            <input type="radio" id="mollamp" name="visual" />
            <label for="mollamp">Molde Lámpara</label>
            <input type="radio" id="conmolban" name="visual" />
            <label for="conmolban">Contramolde Bandeja</label>
            <input type="radio" id="molban" name="visual" />
            <label for="molban">Molde Bandeja</label>
        </div>
        <button id="3mf">Exportar a 3MF</button>
    </form>

    <style>
        #main {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;

            width: 250px;
            background-color: lightcyan;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            label {
                margin-right: auto;
            }
        }
    </style>

    <script>
        const redondeo = document.getElementById("redondeo");
        const redondeoVal = document.getElementById("redondeoLampVal");
        const rBandeja = document.getElementById("rBandeja");
        const redondeoBanVal = document.getElementById("redondeoBanVal");
        const nLad = document.getElementById("nLad");
        const nLadVal = document.getElementById("nLadVal");
        const distCel = document.getElementById("distCel");
        const distCelValue = document.getElementById("distCelValue");
        const grSop = document.getElementById("grSop");
        const grSopValue = document.getElementById("grSopValue");

        if (redondeo && redondeoVal) {
            redondeo.addEventListener("input", () => {
                redondeoVal.textContent = redondeo.value;
            });
        }
        if (rBandeja && redondeoBanVal) {
            rBandeja.addEventListener("input", () => {
                redondeoBanVal.textContent = rBandeja.value;
            });
        }
        if (nLad && nLadVal) {
            nLad.addEventListener("input", () => {
                nLadVal.textContent = nLad.value;
            });
        }
        if (distCel && distCelValue) {
            distCel.addEventListener("input", () => {
                distCelValue.textContent = distCel.value;
            });
        }
        if (grSop && grSopValue) {
            grSop.addEventListener("input", () => {
                grSopValue.textContent = grSop.value;
            });
        }
    </script>
</section>
